@import url("reset.css?v=1");
@import url("typography.css?v=1");
@import url("layout.css?v=1");


/** HEADER **/
header { background-color:#eaeaea; height:75px; margin:0 0 10px; position:relative; }

	header h1 { position:absolute; left:1em; top:1em; }
	header h1 a { color:#dedede; font-size:200%; }

	header nav { float:right; margin:50px 10px 0; }
	header nav a, header nav a:visited {
		-moz-border-radius:3px 3px 3px 3px;
		background-color:#888; color:#eee; font-size:85%; font-weight:bold; padding:0.2em 0.5em; text-decoration:none;
	}
	header nav a:hover, header nav a:active, header nav a:focus, header nav a.active
	{ background-color:#7398fa; }

/** MAIN **/
#main { background-color:#eaeaea; margin:0 0 10px; padding:2em; position:relative; text-align:center; }

	#article { position:relative; text-align:left; }

		#article .spinner { background:url('../images/spinner.gif') 50% 50% no-repeat; display:none; height:100%; left:0; position:absolute; top:0; width:100%; }




/** FOOTER **/
footer { background-color:#eaeaea; height:32px; padding:1em; }

	footer p { height:100%; line-height:32px; margin:0; text-align:center; }




/*
 * PRINT STYLES
 */
@media print {

	*				{ background:transparent !important; color:#444 !important; text-shadow:none !important; }
	a, a:visited	{ color:#444 !important; text-decoration:underline; }
	a:after			{ content:" (" attr(href) ")"; }
	abbr:after		{ content:" (" attr(title) ")"; }
	pre, blockquote	{ border:1px solid #999; page-break-inside:avoid; }
	thead			{ display:table-header-group; }
	tr, img			{ page-break-inside:avoid; }
	@page			{ margin:0.5cm; }
	p, h2, h3		{ orphans:3; widows:3; }
	h2, h3			{ page-break-after:avoid; }

}
