@import url("reset.css?v=1");
@import url("typography.css?v=1");
@import url("layout.css?v=1");


/** HEADER **/
header { background-color:#eaeaea; height:75px; margin:0 0 10px; position:relative; }

	header h1 { position:absolute; left:3em; top:1.8em; }
	header h1 a { color:#dedede; font-size:200%; }



/** MAIN **/
#main { background-color:#eaeaea; margin:0 0 10px; min-height:400px; padding:20px; position:relative; text-align:center; }


	#main h3 {
		-moz-border-radius:10px 10px 0 0;
		background-color:#fff; border:1px solid #777; display:inline-block; height:50px; line-height:50px; margin:0; padding:0 1em; position:relative; z-index:10;
	}
	#main h3.active { border-bottom:0 none; top:1px; }
		#main h3 a { text-decoration:none; }

	#main #article { background-color:#fff; border:1px solid #777; margin:0 5em; padding:1em; position:absolute; text-align:left; top:71px; }





/** FOOTER **/
footer { background-color:#eaeaea; height:32px; padding:1em; }

	footer p { height:100%; line-height:32px; margin:0; text-align:center; }




/*
 * PRINT STYLES
 */
@media print {

	*				{ background:transparent !important; color:#444 !important; text-shadow:none !important; }
	a, a:visited	{ color:#444 !important; text-decoration:underline; }
	a:after			{ content:" (" attr(href) ")"; }
	abbr:after		{ content:" (" attr(title) ")"; }
	pre, blockquote	{ border:1px solid #999; page-break-inside:avoid; }
	thead			{ display:table-header-group; }
	tr, img			{ page-break-inside:avoid; }
	@page			{ margin:0.5cm; }
	p, h2, h3		{ orphans:3; widows:3; }
	h2, h3			{ page-break-after:avoid; }

}
